body{
  display: flex;
}
canvas {
  /* display: block; */
  margin-top: 75px;
  margin-left: 75px;
  margin-right: auto;
}
#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
}

.allScores{
  align-content: center;
  box-sizing: border-box;
  margin: 0;
  border-radius: 2px;
  border: .8px solid rgb(250, 240, 240);
  box-shadow: 0 10px 6px -6px #777;
  width: 700px;
  padding :40px;
  /* padding-top: 10px; */
  text-align: center;
  background:rgb(226, 223, 223);
  color:rgb(199, 35, 172);
  margin-top: 10px;
  font-size: large;
}

.countWinsBody h2{
  color: rgb(36, 66, 196);
  text-align: center;
}